body {
  font-family: "Inter", sans-serif;
}

::selection {
  @apply bg-indigo-400 bg-opacity-50 text-white;
}

article.layout {
  @apply prose prose-slate
    m-0 max-w-fit
    bg-white
    px-6 py-8 pt-20
    dark:prose-invert prose-h1:pl-14
    prose-h1:text-3xl prose-h2:mb-3 prose-h2:mt-4 prose-h2:text-2xl
    prose-h2:font-bold prose-h3:mb-3 prose-h3:mt-4 prose-h3:text-xl
    prose-h3:font-semibold prose-h4:mb-3 prose-h4:mt-4 prose-h4:text-sm prose-h4:text-slate-600
    prose-p:my-2 prose-p:text-sm prose-p:leading-6 prose-a:font-normal
    prose-a:transition-colors hover:prose-a:text-slate-400 prose-li:text-sm
    prose-table:mt-4
    prose-thead:border-0
    prose-th:p-0
    prose-th:font-medium prose-td:p-0
    prose-td:text-slate-500 sm:px-12
    sm:py-14 lg:max-w-4xl
    dark:bg-slate-800
    prose-h4:dark:text-slate-400 prose-p:dark:text-white;
}

address {
  @apply prose-a:text-sm;
}

strong * {
  @apply font-semibold !important;
}
